<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Viewer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo-youtube.png'), :rel => 'icon', :type =>  'image/png' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114133598-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114133598-1');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>

  <body>
    <nav class="nav">
      <% if current_user %>
        <div class="nav-component left">
          <a href="/"><img src="https://i.imgur.com/YEX4EsL.png"></a>
          <p>Welcome, <%= current_user.first_name %></p>
        </div>
        <div class="nav-component right">
          <%= link_to 'Log Out', logout_path, method: :delete %>
          <%= image_tag current_user.image_url, alt: current_user.name %>
        </div>
      <% else %>
        <div class="nav-component left">
          <a href="/"><img src="https://i.imgur.com/YEX4EsL.png"></a>
        </div>
        <div class="nav-component right">
          <%= link_to 'Log In with Google', '/auth/google_oauth2' %>
        </div>
      <% end %>
    </nav>
    <div class="streams">
      <% if current_user %>
        <h1>Check out the top live streams on YouTube right now!</h1>
        <div class="top-streams">
          <button onmousedown="moveLeft()" id="leftButton" class="scrollButton left"><i class="fas fa-arrow-left"></i></button>
          <button onmousedown="moveRight()" id="rightButton" class="scrollButton right"><i class="fas fa-arrow-right"></i></button>
          <ul class="stream-list">
            <% @top_streams.each do |stream| %>
              <li class="each-stream">
                <a href="<%= stream['videoId'] %>">
                  <img src="<%= stream['thumbnail'] %>"></img>
                </a>
                <p><%= stream['title'] %></p>
              </li>
            <% end %>
          </ul>
          <div class="divider"></div>
        </div>
        <div class="current-stream">
          <% if current_video %>
            <div class="video">
              <iframe src="<%= 'https://www.youtube.com/embed/' + current_video.video_id + '?autoplay=1'%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div class="chat-box">
                <div class="user-search">
                  <div class="search-results">
                  </div>
                  <button class="close-search" type="button"onclick="toggleSearch()">X</button>
                  <div class="search-input">
                    <input id="searchQuery" class="search-query" onkeydown="submit(event)" type="text" value="">
                    <button id="searchButton" class="search-submit" onclick="search()" type="submit">Search</button>
                  </div>
                </div>
                <div class="messages">
                </div>
              </div>
            </div>
            <div class="below-stream">
              <div class="stream-information">
                <p class="title"><%= current_video.title %></p>
                <div class="stream-details">
                  <p class="concurrent-viewers"><%= number_with_delimiter(current_video.concurrent_viewers, :delimiter => ',') %> watching now</p>
                  <p class="chats-per-second"></p>
                </div>
              </div>
              <div class="search-button">
                <button class="toggle-search" onclick="toggleSearch()" type="button">
                  <i class="fas fa-search"></i> Search by User
                </button>
              </div>
            </div>
            <div class="divider"></div>
          <% end %>
        </div>
      <% else %>
        <div class="log-in">
          <h1>Welcome to YouTube Viewer</h1>
          <h1>To view the top streams on YouTube</h1>
          <h1>please log in with Google or YouTube</h1>
          <%= link_to 'Log In', '/auth/google_oauth2' %>
        </div>
      <% end %>
    </div>

    <script type="text/javascript">

    // ajax request and intervals to refresh chat
    function updateMessages(chat_id, nextPageToken, first = true) {
      const messages = document.querySelector(".messages");
      if (chat_id) {
        $.ajax({
          url: `/messages/${chat_id}`,
          method: "GET",
          data: { nextPageToken }
        }).then(response => {
          const chatRate = first ? 0 : Math.ceil(response.pollingIntervalMillis / (response.items.length))
          let timeout = chatRate;
          response.items.forEach((item) => {
            setTimeout(function() {
              messages.innerHTML = `
              <div class="message-box">
                <img class="chat-img" src="${item.authorDetails.profileImageUrl}"></img>
                <p class="message"><span class="author">${item.authorDetails.displayName}</span>${item.snippet.displayMessage}</p>
              </div>` + messages.innerHTML;
            }, timeout)
            timeout += chatRate;
          })

          setTimeout(function() {
            updateMessages(chat_id, response.nextPageToken, false)
          }, response.pollingIntervalMillis);

          const chatsPerSecond = first ? "0.0" : (response.items.length / response.pollingIntervalMillis * 1000).toFixed(1);
          const chatsPerSecondElement = document.querySelector('.chats-per-second');
          chatsPerSecondElement.innerHTML = ` ${chatsPerSecond} chats per second`
          if (chatsPerSecond > 3) {
            chatsPerSecondElement.style.color = "#FF0000"
          } else if (chatsPerSecond > 1) {
            chatsPerSecondElement.style.color = "#FF8D0D"
          } else {
            chatsPerSecondElement.style.color = "#999999"
          }
        });
      } else {
        messages.innerHTML = `
        <div class="message-box">
          <p class="message" style="margin:auto">Chat is disabled for this live stream.</p>
        </div>`
      }
    }

    <% if current_video %>
      const chat_id = '<%= current_video.chat_id %>'
      document.addEventListener("DOMContentLoaded", function(event) {
        updateMessages(chat_id);
      });
    <% end %>

    // search functions
    function toggleSearch() {
      const searchWindow = document.querySelector(".user-search")
      const query = document.getElementById("searchQuery");
      const searchResults = document.querySelector(".search-results");

      query.value = "";
      searchResults.innerHTML = "";
      searchWindow.classList.toggle("show");
      query.focus();
    }

    function search() {
      const query = document.getElementById("searchQuery");
      const searchResults = document.querySelector(".search-results");
      <% if current_video %>
        const video_id = `<%= current_video.video_id %>`
      <% end %>

      searchResults.innerHTML = "";
      if (query.value === "") {
        query.value = "1"
      }
      $.ajax({
        url: `/messages/search/${query.value.toLowerCase().replace(/\s+/g, '')}`,
        method: "GET",
        data: { video_id }
      }).then(
        response => {
          response.forEach((item) => {
            searchResults.innerHTML = `
            <div class="message-box">
              <img class="chat-img" src="${item.author_image}"></img>
              <p class="message" ><span class="author">${item.author}</span>${item.body}</p>
            </div>` + searchResults.innerHTML;
          });
        },
        error => {
          searchResults.innerHTML = `
          <div class="message-box">
            <p style="color:red; margin:auto">${error.responseJSON}</p>
          </div>`;
        });
      query.value = "";
      query.focus();
    }

    function submit(event) {
      if (event.keyCode === 13) {
        document.getElementById("searchButton").click();
      }
    }

    // top streams scrolling buttons
    function moveRight() {
      const streamList = document.querySelector(".stream-list");
      streamList.scrollLeft += 610;
    }
    function moveLeft() {
      const streamList = document.querySelector(".stream-list");
      streamList.scrollLeft -= 610;
    }
    </script>
  </body>
</html>
