<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Viewer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo-youtube.png'), :rel => 'icon', :type =>  'image/png' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>

  <body>
    <nav class="nav">
      <% if current_user %>
        <div class="nav-component right">
          <%= link_to 'Log Out', logout_path, method: :delete %>
          <%= image_tag current_user.image_url, alt: current_user.name %>
        </div>
        <div class="nav-component left">
          <a href="/"><img src="https://i.imgur.com/YEX4EsL.png"></a>
          <p>Welcome, <%= current_user.first_name %></p>
        </div>
      <% else %>
        <div class="nav-component right">
          <%= link_to 'Log In with Google', '/auth/google_oauth2' %>
        </div>
      <% end %>
    </nav>
    <div class="streams">
      <% if current_user %>
        <h1>Check out the top live streams on YouTube right now!</h1>
        <div class="top_streams">
          <button onmousedown="moveLeft()" id="leftButton" class="scrollButton left"><</button>
          <button onmousedown="moveRight()" id="rightButton" class="scrollButton right">></button>
          <ul class="stream-list">
            <% @top_streams.each do |stream| %>
              <li class="each-stream">
                <a href="<%= stream['videoId'] %>">
                  <img src="<%= stream['thumbnail'] %>"></img>
                </a>
                <p><%= stream['title'] %></p>
              </li>
            <% end %>
          </ul>
          <div class="divider"></div>
        </div>
        <div class="current-stream">
          <% if current_video %>
            <div class="video">
              <iframe src="<%= 'https://www.youtube.com/embed/' + flash[:video_id] + '?autoplay=1'%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div class="messages">
              </div>
            </div>
            <p class="title"><%= current_video.title %></p>
            <div class="stream-details">
              <p class="concurrent-viewers"><%= current_video.concurrent_viewers %> watching now</p>
              <p class="chats-per-second"></p>
            </div>
            <div class="divider"></div>
          <% end %>
        </div>
      <% else %>
        <div class="log-in">
          <h1>Welcome to YouTube Viewer</h1>
          <h1>To view the top streams on YouTube</h1>
          <h1>please log in with Google or YouTube</h1>
          <%= link_to 'Log In', '/auth/google_oauth2' %>
        </div>
      <% end %>
    </div>
    <img src="${item.authorDetails.profileImageUrl}" alt="">
    <script type="text/javascript">

    const messages = document.querySelector(".messages");

    function updateMessages(chat_id, nextPageToken = "none", first = true) {
      $.ajax({
        url: `/messages/${chat_id}`,
        method: "GET",
        data: { nextPageToken }
      }).then(response => {
        const chatRate = first ? 0 : Math.ceil(response.pollingIntervalMillis / (response.items.length))
        let timeout = chatRate;
        response.items.forEach((item) => {
          setTimeout(function() {
            messages.innerHTML = `
            <div class="message-box">
              <img class="chat-img" src="${item.authorDetails.profileImageUrl}"></img>
              <p class="message"><span class="author">${item.authorDetails.displayName}</span>${item.snippet.displayMessage}</p>
            </div>` + messages.innerHTML;
          }, timeout)
          timeout += chatRate;
        })

        setTimeout(function() {
          updateMessages(chat_id, response.nextPageToken, false)
        }, response.pollingIntervalMillis)

        const chatsPerSecond = first ? 0 : (response.items.length / response.pollingIntervalMillis * 1000).toFixed(1)
        document.querySelector('.chats-per-second').innerHTML = ` ${chatsPerSecond} chats per second`
      });
    }

    <% if current_video %>
      const chat_id = '<%= current_video.chat_id %>'
      document.addEventListener("DOMContentLoaded", function(event) {
        updateMessages(chat_id);
      });
    <% end %>

    const streamList = document.querySelector(".stream-list");

    function moveRight() {
      streamList.scrollLeft += 610;
    }
    function moveLeft() {
      streamList.scrollLeft -= 610;
    }
    </script>
  </body>
</html>
